doctype html
html(lang="en")
  head
    title Delirium Prevention
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    script(src='/js/script.js')
  body
    h1 IDD: Delirium Prevention
    h3 Log of Sensor Data
      #noise Noise:
      #noise-val None
      #light Light:
      #light-val None
      #movement Movement:
      #movement-val None
    #button
    #button2
    //img(id='yo', src='/img/yo.png')
